body {}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 350px;
}

.card-content {
    flex-grow: 1;
}

.card-image img {
    height: 100%;
    object-fit: cover;
}

.cell {
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
}

.busqueda {
    width: 50vw;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.busqueda:focus {
    outline: none;
    border-color: #00D1B2;
}


#titulo {
    color: #00D1B2;
    transition: scale 0.3s ease;
}

#titulo:hover {
    scale: 1.05;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 100%;
    scale: 1.2;
}

.floating-button:hover {
    scale: 1.25;
}

.accent-shadow {
    box-shadow: 0px 0px 20px -8px #00D1B2;
}

.card {
    transition: scale 0.3s ease;
}

.card:hover {
    scale: 1.02;
}

